* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.cards {
    width: 95%;
    max-width: 500pt;
    background: linear-gradient(135deg, #ac450d, #ccb89d, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.search {
    width: 100%;
    align-content: center;
    margin-top: auto;
}
.buttons {
    margin: auto 0;
}

 .search input {
    border: 0;
    outline: 0;
    
    background: linear-gradient(135deg, #dccec6, #ebfffc, #dccec6);
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    margin: auto;
    font-size: 18px;
}

.search .buttons button {
    border: 0;
    outline: 0;
    background-color: #dccec6;
    color: #555;
    padding: 15px 25px;
    height: 60px;
    border-radius: 30px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.search .buttons button:hover {
    background: linear-gradient(135deg,  #dccec6, #ebfffc, #dccec6); /* Лінійний градієнт */
    color: #555;
}

.weather{
    background : linear-gradient(135deg, #54788a,#ac470d, #54788a);
    border-radius: 20px;
    margin-top: 20px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

#map {
    height: 450px;
    width: 100%;
    margin: auto; /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    
}
.weather-card {
    margin-top: 20px;
    background : linear-gradient(135deg, #0d4dac, #54788a);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.day-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.day-name {
    font-size: 18px;
}

.temperature {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.temperature img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.temp-details {
    font-size: 24px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-item img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.info-text {
    font-size: 18px;
}
